.title_box{
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: #e9ecef;
   
}
.tboxfonttitle
{
    font-size: xx-large;
    font-weight: 500;
    line-height: 40px;
    padding-left: 15px;
    float: left;
}

.tboxfontright
{
    font-size: large;
    float: right;
    padding-right: 15px;
   
}


.id_box
{
    font-weight: 500;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    line-height: 25px;
    border-top-style: none;
    border-bottom-style: none;
}

.tboxfontid
{
    font-weight: 500;
    padding-left: 15px;
    float: left;
}

.idbox
{
    font-size: small;
   padding-right: 30px;
}

.content_box
{
    position: relative;
    height: 500px;
    width: 100%;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    padding: 10px;
}

.reply_box
{
    position: relative;
    width: 100%;
    padding: 10px;
}

.reply_box_create
{
    position: relative;
    width: 100%;
    padding: 10px;
}

.form-control textarea
{
   margin-top: 1px;
}

.co{
    background-color: aqua;
    height: 1px;
    width: 100%;
}

table{
    width: 100%;
}

table .reply{
    background-color:  #e9ecef;
}



