
.ba_box
{
    height: 400px; 
    background-color: rgb(7, 30, 54); 
}

.banner_sec1{
	height:100%;
	float:left;
	margin-left:50px;
}
.banner_sec1 h1{
	width: 365px;
	height: 95px;
	margin-top: 50px;
	margin-left: 30px;
	color: #ffffff;
	font-size: 32px;
	font-weight: 400px;
}

.banner_sec1 input[type="text"]{
	width: 440px;
	height: 50px;
	border: solid 3px white;
	background: 410px 5px;
	background-size: 40px;
	margin-left: 30px;
}
.banner_sec1 ul{
	width: 500px;
	height: 150px;
	margin-top: 30px;
	padding-left: 0;
}
.banner_sec1 li{
	width: 80px;
	height: 30px;
	color: white;
	list-style: none;
	float: left;
	border-radius: 20px;
	background-color:#353535;
	text-align: center;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 9pt;
	line-height: 30px;
}


.banner_sec2{
	width:500px;
  height: auto;
float: right;
	margin : 20px;
}

.slider   {
  position: relative;
  height: 360px;
  border-radius: 10px;
  border-width: 0.5px;
  
}
  
.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}

.slider ul li
{
    width: 100%;
    height: 100%;
}

.slider ul li img
{
    width: 100%;
    height: 100%;
}


/* 슬리아드버튼 */
button.control_prev, button.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%; 
    background: #D5D5D5;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
  }
  
  button.control_prev:hover, button.control_next:hover {
    opacity: 0.9;
  }
  
  button.control_prev {
    border-radius: 0 5px 5px 0;
  }
  
  button.control_next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }

  button.control_prev:focus {
    border-radius: 0 2px 2px 0;
    outline: none;
  }

  button.control_next:focus {
    right: 0;
    border-radius: 2px 0 0 2px;
    outline: none;
  }